html{
    height:100%;
    background: linear-gradient(to bottom, rgb(115, 181, 201),rgb(255,255,255));
    background-size: cover;
    font-family: sans-serif;
}
hr{
    border: 1.5px solid black;
}
body{
    border:2px solid black;
}
p{
    font-size: 1.7em;
    display:flex;
    justify-content: center;
}
div{
    border: 1.5px solid black;
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.parentdiv div{
    padding: 2px;;
    border: 1.2px solid black;
    
}